// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/*top*/
.top-wrapper {
  width: 100%;
  padding: 0;
  /*padding: unquote("min(40%,20px)");*/
}

.top-dummy-msg {
  position: absolute;
  top: 30px;
  left: 30px;
  color: red;
  font-size: 10px;
}

.top-container {
  width: 95%;
  max-width: 800px;
  margin: 100px auto;
}

.top-title {
  font-size: 36px;
  margin: 0 0 60px;
  text-align: center;

  a {
    color: #FFFFFF;
  }
}

.top-button {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #4696ec;
  border-radius: 6px;

  text-align: center;
  padding: 15px 0;
  margin-bottom: 16px;

  transition: 0.3s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #91c0f4;
  }
}

.fs18 {
  font-size: 20px;
}

.top-button-orange {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #f48460;
  border-radius: 6px;

  text-align: center;
  padding: 15px 0;
  margin-bottom: 16px;

  transition: 0.3s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #fed3bf;
  }
}